:root {
    color-scheme: dark;
}
body {
    padding: 0;
    margin: 0;
} 
html, body, #container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
} 
#top {
    flex-shrink: 0;
	} 
#details {
    flex-grow: 1;
    overflow: auto;
} 
#bottom {
    flex-shrink: 0;
} 
#player {
    width: 100%;
} 
#youtube_url {
    width: 100%;
} 
#form {
    display: flex;
    justify-content: space-around;
    width: 100%;
} 
.inputs {
    font-size: x-large;
} 
#description {
    white-space: pre-wrap;
}
#chapters, #timecodes {
    width: 100%;
    font-size: x-large;
}
.links {
    font-size: x-large;
    padding: 1em 0 1em 0;
    font-weight: bold;
} 
