<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:site_name" content="Get YouTube audio">
    <meta property="og:url" content="{{ url_for('index', _external=True) }}"/>
    <meta property="og:title" content="YouTube audio only"/>
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='yt.css') }}"/>
    <title>YouTalk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.min.js') }}">\x3C/script>')
    </script>
    <script src="{{ url_for('static', filename='yt.js') }}"></script>
</head>
<body>
    <div id="container">
        <div id="top">
            <div id="form-container">
                <form id="form">
                    <input class="inputs" id="youtube_url" name="youtube_url" placeholder="YouTube URL" required="" type="url">
                    <button class="inputs button" id="paste" type="button">📋</button>
                    <button class="inputs button" id="submit" type="submit">Get&nbsp;🔊</button>
                </form>
            </div>
        </div>
        <div id="details">
            <div class="links" id="yt_title"><a id="title_link" target="_blank" href=""></a><span id="by"></span><a id="channel_link" target="_blank" href=""></a></div>
            <div class="info" id="description"></div>
        </div>
        <div id="bottom">
            <div class="media">
                <div id="chapters">
                    <select id="timecodes"></select>
                </div>
                <audio id="player" controls autoplay>
                    <source src="" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
</body>
</html>
